.G,.g{
    color: blue;
}
.o,.e{
    color: red;
}
.o1{
    color: orange;
}

.l{
    color: green;
}
b{
    font-size: 200px;
}
.container{
    display: flex;
    padding: 20px;
    height: 900px;
    width: 50%;
}