div{
    font-size: 50px;
}
#per{
    width: 50%;
    height: 10%;
    background-color: blue;
}
#vh{
    /* vh vh */
    width: 100vh;
    height: 50vh;
    background-color: red;
}
#vw{
    width: 100vw;
    height: 10vw;
    background-color: blue;
}
#rem{
    width: 50rem;
    height: 20rem;
    background-color: pink;
}
#em{
    width: 20em;
    height: 2em;
    background-color: lawngreen;
}