*{
    /* background-color: brown; */
    font-size: 35px;
    
}

/* tagName selector */
h1{
    background-color: black;
    color: white;
    width: 40%;
}
p{
    background-color: blue;
    width: 80%;
    color: white;
}
a{
    background-color: orange;
    color: white;
    text-decoration: none;
}

/* basing on preference id have first priority. */
/* id selectors */
/* #head1{
    background-color: blue;
}
#head2{
    background-color: crimson;
}
#para1{
    background-color: rgb(28, 4, 76);
} */

/* class selectors */
.a1{
    background-color: greenyellow;
    color: red;
}

/* group selector */
a,#head1,.a1{
    font-family: cursive;
    background-color: rgb(242, 5, 5);
    color: green;
}