*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url(../../../asserts/images/mountains\ Day);
    background-repeat: no-repeat;
    background-size:cover;
}
body:hover{
    background-image: url(../../../asserts/images/background-night-mountains);
    background-repeat: no-repeat;
    background-size: cover;
    
}