.G,.g{
    color: blue;
    
}
.o,.e{
    color: red;
    font-size: 250px;
}
.o1{
    color: orange;
}

.l{
    color: green;
    font-size: 250px;
}
b{
    font-size: 220px;
    background-color: lawngreen;
    padding-bottom: 300px;
    padding-top: 0px;
}
.container{
    display: flex;
    padding: 20px;
    height: 100vh;
    width: 50%;

}
