*{
    margin: 0px;
    padding: 0px;
}
h1{
    font-size: 60px;
    padding-top: 70px;
    color: red;
    text-align: center;
    animation-name: text;
    animation-duration: 5s;
}
@keyframes text {
    from{
        transform: translate(-1200px,0px);
        color: blue;
    }
    to{
        transform: translate(0px,0px);
        color: palegreen;
    }
}

#a{
    animation-fill-mode: forwards;
    animation-delay: 1s;
}
#b{
    animation-fill-mode: backwards;
    animation-delay: 4s;
}
#c{
    animation-fill-mode: both;
    animation-delay: 6s;
}