body {
    background-image: url(../../asserts/images/galaxy/starsBackground.jpg);
    background-repeat: no-repeat;
    background-size: 100% 900px;
}
div{
    width: 30%;
    height: 300px;
    background-size: 70px;
    background-position-x: left;
    background-position-y: top;
}
.mar{
    margin-left: 900px;  
    margin-top: 20px;
    height: 900px;
}
.sun{
    background-attachment: fixed;
}