*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: white;
}
.container{
    width: 600px;
    height: 300px;
    margin-left: 35%;
    margin-top: 19%;
}
h1{
    font-size: 150px;
    float: left;
    background-image: linear-gradient(45deg,purple,green,red,orange);
    background-clip: text;
    color: transparent;
    animation-name: task;
    animation-duration: 10s;
    letter-spacing: 15px;
    transform: translate(0px, -550px);
    font-family: cursive;
}


@keyframes task {
    0%{
        transform: translate(0px,-400px);
    }
    20%{
        transform: translate(0px, 0px);
    }
    40%{
        transform: translate(0px,0px);
    }
    50%{
        transform: translate(0px,0px) rotate(360deg) rotateY(35deg) scale(1.5);
        background-image: linear-gradient(45deg,orange,red,blue,indigo,green,plum);
        background-position: 200px;
        background-size: 200px;
        animation-delay: 5s;
        animation-fill-mode: backwards;
    }

    60%{
        transform: translate(0px,0px);
    }
    97%{
        transform: translate(0px, -400px);
    }
    99%{
        transform: translate(0px,-500px);
    }

}

#t{
    animation-duration: 4s;
}
#o{
    animation-duration: 4.2s;
}
#n{
    animation-duration: 4.3s;
}
#y{
    animation-duration: 4.4s;
}