*{
    margin: 0px;
    padding: 0px;
}

img{
    width: 200px;
    animation-name: space;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes space {
    form{
        transform: translate(0px, 0px);
    }
    to{
        transform: translate(1300px, 0px);
    }
}

#one{
    animation-timing-function: ease;
}
#two{
    animation-timing-function: ease-in;
}
#three{
    animation-timing-function: ease-in-out;
}
#four{
    animation-timing-function: ease-out;
}
#five{
    animation-timing-function: linear;
}