*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navBar{
    width: 100%;
    height: 120px;
    background-color: rgb(225, 88, 88);
    h1{
        font-size: 70px;
        text-align: center;
    }
}
header{
    width: 100%;
    height: 730px;
    background-color: wheat;
    h2{
        font-size: 50px;
        text-align: center;
    }
}
.pizza-container{
    width: 90%;
    height: 650px;
    /* background-color: violet; */
    margin-left: 4.7%;
}
.pizza-container>div{
    width: 290px;
    height: 600px;
    background-color: rgb(225, 161, 161);
    float: left;
    margin-top: 30px;
    margin-left: 38px;
    border-radius: 30px;
}
.pizza-container>div>img{
    width: 100%;
    border-radius: 30px 30px 0px 0px;
}
.pizza-container>div>h3,b{
    text-align: center;
    font-size: 35px;
}
#bold{
    margin-left: 36%;
}
.pizza-container>div>button{
    margin-left: 33%;
    font-size: 20px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(179, 234, 234);
}

footer{
    width: 100%;
    height: 55px;
    background-color: rgb(232, 108, 108);
}
footer>h3{
    font-size: 50px;
    text-align: center;
}