body{
    background-color: rgb(9, 58, 58);
    background-image: url(/asserts/images/hummingbird-8013214_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-repeat: repeat-x; */
    /* background-repeat: space; */
    /* background-attachment: fixed; */
    background-size: 30% 400px;
    height: 5016px;
    background-position: center;
    background-position: left;
    background-position: right;
    background-position: top;
    background-position: bottom;

    background-position: top left;
    background-position: top center;
    background-position: right top;
    background-position: center left;
    background-position: center right;
    background-position: bottom left;
    background-position: center bottom;
    background-position: right bottom;
    




    background-position-x: 400px;
    background-position-y: 300px;

    background-attachment: local;
    background-attachment: fixed;
}